*{
    box-sizing: border-box;
}
/* body{
    margin: 0;
    padding: 0;
} */
h1{
    margin-left: 25px;
}
@font-face {
    font-family: 'Pixel';
    src: url('../fonts/Pixel.ttf');
}
[wm-flappy]{
    position: relative;
    border: 5px solid dodgerblue;
    height: 600px;
    width: 1100px;
    margin: 15px;
    background-color: deepskyblue;
    overflow: hidden;
}
.passaro{
    position: absolute;
    width: 60px;
    left: calc(50% - 30px);
    /* bottom: 50%; */
}
.par-de-barreiras{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.barreira{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.barreira .borda{
    height: 30px;
    width: 120px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border: 2px solid black;
}
.barreira .corpo{
    height: 40px;
    width: 110px;
    background: linear-gradient(90deg, #639301, #a5e82e);
    border-left: 2px solid black;
    border-right: 2px solid black;
}
.progresso{
    position: absolute;
    top: 10px;
    right: 10px;
    font-family: 'Pixel';
    color: aliceblue;
    font-size: 50px;
    z-index: 100;

}